#SeccionHome{
	position: absolute;
}

#SeccionHome div{
	position: absolute;

}

#SeccionHome img{
	position: absolute;

}

#SeccionHome_btn_mapa{
	bottom: 20px;
	left: 50%;
	margin-left: -107px;
}

#SeccionHome_btn_descuentos{
	bottom: 0px;
	left: 50%;
	margin-left: -130px;

}

#SeccionHome_btn_eventos{
	bottom: 0px;
	left: 50%;
	margin-left: -45px;
}

#SeccionHome_promo{
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -176px;
	width: 200px;
	-webkit-backface-visibility: hidden;
}

#SeccionHome_btn_promos{

	bottom: 0px;
	left: 50%;
	

	margin-left: 38px;


}
#SeccionHome .spinner{
	
bottom: 0px;
	left: 50%;
	

	
margin-left: 68px;

margin-top: auto;
top: auto;
margin-bottom: 48px;
-webkit-transform: scale(0.6);
}